html,body { height: 100%; margin: 0px; padding: 0px; }

body {
    font-family: sans-serif;
    background-color: rgb(242, 242, 242);
    position: relative;
}

.hidden-heading {
    display: none;
}

.top-bar {
    width: 100%;
    background-color: #7B6D68;
    margin: 0;
    border: none;
    position: fixed;
    top: 0;
    z-index: 3;
}

hr.top-bar {
    height: 0.5em;
}

nav.top-bar {
    font-size: 1.5em;
    height: 1.2em;
}
nav.top-bar #go-back {
    color: transparent;
    position: absolute;
    left: 1em;
    top: 50%;
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    border-color: white;
    border-style: solid;
    border-width: 0.2em 0 0 0.2em;
    transform: rotate(-45deg) translateY(-66%);
}

hr.top-bar + header {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
hr.top-bar + header * {
    text-align: center;
}
hr.top-bar + header h1 {
    background-repeat: no-repeat;
    background-image: url('img/logo.gif');
    background-size: auto 100%;
    background-size: contain;
    background-position: center;
    color: transparent;
    margin: 0 0 0.67em 0;
    font-size: 2em;
}
hr.top-bar + header p {
    color: rgba(85, 51, 45, 0.77);
    margin: 0;
    font-size: 1em;
}
hr.top-bar + header p .emphasis {
    font-weight: bold;
    color: rgb(181, 73, 37);
}

nav.top-bar + * {
    margin-top: 2.5em;
}

.top-bar ~ *:not(header) {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.the-letter {
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    width: calc(100% - 2em);
    box-sizing: border-box;
}
#letters {
    position: relative;
    margin-top: 2em;
}

.the-letter > * {
    position: relative;
}
.the-letter > * > * {
    margin: 0;
    padding: 0;
    display: block;
}
.the-letter > * > label {
    display: inline-block;
    width: 6em;
    position: absolute;
    top: 1px;
    z-index: 2;
    text-transform: uppercase;
    font-weight: bold;
}
.the-letter > * > input {
    font-size: 1em;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 4em;
    border: none;
    border-bottom: 0.2em solid rgba(0,0,0,0.2);
    border-radius: 0;/* for safari */
}
#new-letter > * > input {
    width: 40%;
}
.the-letter > * > textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    background-image: url('img/line.png');
    background-repeat: repeat;
    line-height: 17px;
}
#new-letter > * > textarea {
    min-height: 5em;
    min-height: calc(100vh - 27em);
}
#new-letter button {
    background-color: orange;
    border: none;
    width: 40%;
    border-radius: 1em;
    margin: 0 auto;
    line-height: 1.6em;
}


#letters > * {
    margin: -1em 0;/* why this makes his parent also go up? */
    padding: 1em 1em 2em 1em;
    border-radius: 1em 1em 0 0;
    z-index: 2;
}
#letters > *:nth-child(odd) {
    background-color: brown;
}
#letters > *:nth-child(even) {
    background-color: pink;
}
#letters > *:last-child {
    border-radius: 1em;
    padding-bottom: 1em;
}

#letters > div.dummy {
    padding-bottom: 0.5em;
    margin-right: 3em;
    margin-left: 3em;
}
#letters > div.dummy:last-of-type {
    margin-right: 1em;
    margin-left: 1em;
}
#letters > div.dummy:nth-last-of-type(2) {
    margin-right: 2em;
    margin-left: 2em;
}
#letters > article > *:last-child {
    margin-bottom: 0;
}

#letters h3 {
    font-weight: normal;
    margin: 0;
}
#letters h3::before {
    content: "Dear. ";
}
#letters h3.on ~ ul {
    display: block;
}
#letters h3 ~ ul {
    display: none;
}
