
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8vmax;
    color: rgba(166,92,107,1);
    font-size: 10pt;
    font-family: "AppleSDGothicNeo-light", arial, sans-serif;
}
li .info{
    margin: 0 7px 0 15px;
}


li.post {
    border: 1px dashed rgba(255,255,255,0.3);
    border-radius: 25px;
    box-sizing: border-box;
    margin: 12px;
    width: 74%;
    padding: 12px 12px 0 12px;
    background-color: rgba(18,8,2,0.8);
}
li.post:nth-child(odd) {
	float: right;
	clear: right;	
}
li.post:nth-child(even) {
	float: left;
	clear: left;	
}
li.post .contents{
    font-size: 7vmin;
    font-family: "AppleSDGothicNeo-light", arial, sans-serif;
    color: white;
    text-align: center;
    margin: 18px 0 55px 0;
    padding: 0 18px;
}

li.template{
	display: none;
}


.like-post::before {
    content: '\2665';
    margin-right: 6px;
    color: rgba(200,200,200,0.4);
}
.like-post{
}
.like-post.on::before {
    color: red;
}
.replies-post::before {
	content: '\1F4AC';
	margin: 0 4px 0 12px;
	color: rgba(255, 207, 102, 1);
	line-height: 0px;
}
.replies-post{
}
li .time{
	font-size: 1.8vmax;
}
.like-reply {
    display: inline-block;
    /* float: right; */
    color: rgba(166,92,107,1);
    font-weight: 600;
    vertical-align: top;
}
.like-reply::before {
	content: '\2665';
	margin-right: 23%;
	color: rgba(200,200,200,0.4);
}

.like-reply.on::before {
    color: red;
}

.time {
	float: right;
}

.replies{
    list-style-type: none;
    margin: 9px 0;
    padding: 2vmax 0 0 3vmin;
    color: rgba(166,92,107,1);
    font-size: 3.7vmin;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    border-top: 1px solid rgba(237, 222, 204, 0.15);
    border-bottom: 1px solid rgba(237, 222, 204, 0.15);
}
.reply-content{
	display: inline-block;
	width: 76%;
	margin-right: 5%;
	color: rgba(241, 233, 225, 0.9);
}
.replyButton {
	border-style: none;
	color: #272822;
}
.reply{
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    margin-bottom: 2vmax;
}

.replyBox {
	overflow: hidden;
    height: 43px;
}
.replyBox input{
    position: relative;
    margin: 2px auto 4px auto;
    padding-left: 15px;
    width: 100%;
    height: 26px;
    font-size: 3vmin;
    border-radius: 8px;
    border: 1px solid rgba(237, 222, 204, 0);
    background-color: rgba(75, 67, 61, 0.8);
    box-sizing: border-box;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    outline-style: none;
}
.replyBox input::-webkit-input-placeholder{
    font-style: italic;
}
.replyBox input:-moz-placeholder{
    font-style: italic;
}
.replyBox input::-moz-placeholder{
    font-style: italic;
}
.replyBox input:-ms-input-placeholder{
    font-style: italic;
}
.replyBox button{
    position: relative;
    float: right;
    top: -29px;
    right: 1px;
    height: 24px;
    width: 15vmin;
    background-color: rgba(18,8,2,0.5);
    border: 0;
    border-radius: 8px;
    border: 1px solid rgba(237, 222, 204, 0.1);
    color: rgb(241, 234, 227);
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    font-size: 3.5vmin;
}

.quatation-up{
	position: relative;
	top: -13px;
	left: -13px;
}
.quatation-down{
    position: relative;
    top: -24px;
    left: 64vw;
    margin-bottom: 10px;
}


body{
	overflow-x: hidden;
	font-family: "AppleGothic", arial, sans-serif;
	margin: 0;
	background: url(http://i58.tinypic.com/10zti87.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vmax;
    padding-top: 2vmin;
    margin: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(left, rgba(57, 36, 7, 1), black);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(57, 36, 7, 1), black);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(57, 36, 7, 1), black);/* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgba(57, 36, 7, 1), black);/* Standard syntax */
    font-size: 12pt;
    font-weight: bold;
    color: white;
    line-height: 7vh;
    letter-spacing: 3px;
    text-align: center;
    z-index: 2;
}

.top-bar .logo{
	display: inline-block;
	height: 4vmax;
	content: url(http://i60.tinypic.com/1jujr7.png);
}

.top-bar .search{
	position: absolute;
	right: 17px;
	height: 2.8vmax;
	top: 1.5vmax;
}

.title-posting{
	background-size: 102%;
	background-repeat: no-repeat;
	/* background-image: url(http://i62.tinypic.com/nzllxc.png); */
	padding-top: 17vmax;
	padding-bottom: 4vmax;
	/* border-bottom: 1px solid rgba(205, 190, 172, 0.2); */
}

.title{
    position: relative;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    font-weight: 100;
    margin-left: 5vmin;
    margin-bottom: 3vmax;
}

.title .youarein{
    position: relative;
    top: 1.5vmax;
    margin-left: 6vmax;
    letter-spacing: 2pt;
    text-shadow: 2px 1px rgba(0,0,0,0.5);
    font-size: 4.5vmin;
}

.title .cafe-name{
	font-size: 14vmax;
	letter-spacing: 4pt;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.posting {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-width: 211px;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-transition-property: height, padding-right;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-property: height, padding-right;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.posting form{
min-height: 11vmin;}

.posting .textbox{
	display: block;
	position: relative;
	margin: 0 auto;
	padding-left: 5vmin;
	overflow: hidden;
	padding-right: 14vmin;
	width: 90%;
	height: 7.7vmax;
	min-width: 150px;
	font-size: 3.9vmin;
	line-height: 35px;
	border-radius: 100px;
	border: 1px solid rgba(237, 222, 204, 1);
	background-color: rgba(255, 255, 255, 0.1);
	outline-style: none;
	box-sizing: border-box;
	-webkit-transition-property: top, height, line-height, border-color, font-size;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-property: top, height, line-height, border-color, font-size;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
	color: rgba(255, 255, 255, 1);
}

.posting .textbox::-webkit-input-placeholder{
    color: rgba(247, 244, 244, 0.7);
    font-weight: 100;
    font-style: italic;
}
.posting .textbox:-moz-placeholder{
    color: rgba(247, 244, 244, 0.7);
    font-weight: 100;
    font-style: italic;
}
.posting .textbox::-moz-placeholder{
    color: rgba(247, 244, 244, 0.7);
    font-weight: 100;
    font-style: italic;
}
.posting .textbox:-ms-input-placeholder{
    color: rgba(247, 244, 244, 0.7);
    font-weight: 100;
    font-style: italic;
}

.posting .send {
    position: absolute;
    float: right;
    top: 0px;
    right: 5.1%;
    width: 7vmax;
    height: 7.7vmax;
    letter-spacing: 2px;
    padding: 0;
    border-radius: 50px;
    font-size: 4vmin;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    outline-style: none;
    -webkit-transition-property: top, right, height, font-size;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: top, right, height, font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    outline-style: none;
}

.posting .textbox-bg{
	position: absolute;]
	height: 7.7vmax;
	width: 90%;
	min-width: 150px;
	margin: 0 auto;
	border-radius: 100px;
	top: 0px;
	left: 5%;
	filter: url('blur.svg#blur');
	filter: blur(10px);
	-webkit-filter: blur(0px);
	z-index: -1;
	background: url(http://i62.tinypic.com/a6tye.png);
	background-attachment: fixed;
	background-size: cover;
	-webkit-transition-property: top, left, width, height, border-radius, font-size;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease;
	transition-property: top, left, width, height, border-radius, font-size;
	transition-duration: 0.6s;
	transition-timing-function: ease;
}

.search-result{
    display: none;
}