
ul {
    list-style-type: none;
    padding: 0;
    margin-top: calc(7vh + 24px);
    color: rgba(166,92,107,1);
    font-size: 10pt;
    font-family: "AppleSDGothicNeo-light", arial, sans-serif;
}
li .info{
    margin: 0 7px 0 15px;
}
li.post {
    border: 1px dashed rgba(255,255,255,0.3);
    border-radius: 25px;
    box-sizing: border-box;
    margin: 12px;
    width: 74%;
    padding: 12px 12px 0 12px;
    background-color: rgba(18,8,2,0.8);
}
li.post:nth-child(odd) {
	float: right;
	clear: right;	
}
li.post:nth-child(even) {
	float: left;
	clear: left;	
}
li.post .contents{
    font-size: 18pt;
    font-family: "AppleSDGothicNeo-light", arial, sans-serif;
    color: white;
    text-align: center;
    margin: 18px 0 55px 0;
    padding: 0 18px;
}
.like-post::before {
    content: '\2665';
    margin-right: 6px;
    color: rgba(200,200,200,0.4);
}
.like-post{
}
.like-post.on::before {
    color: red;
}
.replies-post::before {
	content: '\1F4AC';
	margin: 0 4px 0 12px;
	color: rgba(255, 207, 102, 1);
	line-height: 0px;
}
.replies-post{
}
li .time{
	font-size: 9pt;
}
.like-reply {
    float: right;
    color: rgba(166,92,107,1);
    font-weight: 600;
}
.like-reply::before {
	content: '\2665';
	margin-right: 10px;
    color: rgba(200,200,200,0.4);
}

.like-reply.on::before {
    color: red;
}

.time {
	float: right;
}

.replies{
    list-style-type: none;
    margin: 9px 0;
    padding: 10px 17px;
    color: rgba(166,92,107,1);
    font-size: 9pt;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    border-top: 1px solid rgba(237, 222, 204, 0.15);
    border-bottom: 1px solid rgba(237, 222, 204, 0.15);
}
.reply-content{
	display: inline-block;
	width: 136px;
	color: rgba(237, 222, 204, 0.9);
}
.replyButton {
	border-style: none;
	color: #272822;
}
.reply{
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    margin: 6px 0;
}

.replyBox {
	overflow: hidden;
    height: 43px;
}
.replyBox input{
    position: relative;
    margin: 2px auto 4px auto;
    padding-left: 12px;
    width: 100%;
    height: 26px;
    font-size: 9pt;
    border-radius: 8px;
    border: 1px solid rgba(237, 222, 204, 0);
    background-color: rgba(75, 67, 61, 0.8);    
    box-sizing: border-box;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    outline-style: none;
}
.replyBox input::-webkit-input-placeholder{
    font-style: italic;
}
.replyBox input:-moz-placeholder{
    font-style: italic;
}
.replyBox input::-moz-placeholder{
    font-style: italic;
}
.replyBox input:-ms-input-placeholder{
    font-style: italic;
}
.replyBox button{
    position: relative;
    float: right;
    top: -29px;
    right: 1px;
    height: 24px;
    width: 39px;
    background-color: rgba(18,8,2,0.5);
    border: 0;
    border-radius: 8px;
    border: 1px solid rgba(237, 222, 204, 0.1);
    color: rgba(237, 222, 204, 1);
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
}

.quatation-up{
	position: relative;
    top: -16px;
    left: -16px;
}
.quatation-down{
    position: relative;
    top: -24px;
    left: 203px;
    margin-bottom: 20px;
}


body{
	overflow-x: hidden;
	font-family: "AppleGothic", arial, sans-serif; 
	margin: 0;
	background: url(http://i58.tinypic.com/xazy1u.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vh;
    margin: 0;
    box-sizing: border-box;
	background: -webkit-linear-gradient(left, rgba(57, 36, 7, 1), black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(57, 36, 7, 1), black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, rgba(57, 36, 7, 1), black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left, rgba(57, 36, 7, 1), black); /* Standard syntax */    
	font-size: 12pt;
    font-weight: bold;
    color: white;
    line-height: 7vh;
    letter-spacing: 3px;
    text-align: center;
    z-index: 2;
}

.top-bar .logo{
	height: 4vh;
	vertical-align: middle;
}

.top-bar .search{
	position: absolute;
	top: 2vh;
	right: 17px;
	height: 2.8vh;
	vertical-align: middle;
}

.title{
    position: relative;
    margin-top: 17vh;
    margin-left: 21px;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    font-weight: 100;
}

.title .youarein{
    position: relative;
    top: 5px;
    margin-left: 33px;
	letter-spacing: 2pt;
    text-shadow: 2px 1px rgba(0,0,0,0.5);
}

.title .cafe-name{
	font-size: 57pt;
    letter-spacing: 4pt;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.posting {
	overflow: hidden;
    position: relative;
    top: 11px;
    width: 100%;
    min-width: 211px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-transition-property: height, padding-right;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: height, padding-right;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.posting form{
	height: 57px;
}

.posting .textbox{
	display: block;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 57px;
    min-width: 150px;
    font-size: 12pt;
    line-height: 35px;
    border-radius: 100px;
    border: 1px solid rgba(237, 222, 204, 0.5);
    background-color: rgba(255, 255, 255, 0.07);
    outline-style: none;
    box-sizing: border-box;
    -webkit-transition-property: top, height, font-size;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: top, height, font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    color: rgba(255, 255, 255, 1);
}

.posting .textbox::-webkit-input-placeholder{
    color: rgba(247, 244, 244, 1);
}
.posting .textbox:-moz-placeholder{
    color: rgba(247, 244, 244, 1);
}
.posting .textbox::-moz-placeholder{
    color: rgba(247, 244, 244, 1);
}
.posting .textbox:-ms-input-placeholder{
    color: rgba(247, 244, 244, 1);
}

.posting .send {
    position: absolute;
    float: right;
    top: 0px;
    right: 5.3%;
    width: 52px;
    height: 57px;
    padding: 0;
    border-radius: 38px;
    font-size: 10pt;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    color: white;
    font-family: "AppleSDGothicNeo-Thin", arial, sans-serif;
    outline-style: none;
    -webkit-transition-property: top, right, height, font-size;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: top, right, height, font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease;   
    outline-style: none;
}

.posting .textbox-bg{
	position: absolute;
    height: 57px;
    width: 90%;
    min-width: 150px;
    margin: 0 auto;
    border-radius: 100px;
    top: 0px;
    left: 5%;
    filter: url('blur.svg#blur');
    filter: blur(10px);
    -webkit-filter: blur(0px);
    z-index: -1;
    background: url(http://i62.tinypic.com/a6tye.png);
    background-attachment: fixed;
    background-size: cover;
    -webkit-transition-property: top, left, width, height, border-radius, font-size;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-property: top, left, width, height, border-radius, font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease;    
}