<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>cafein</display-name>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- spring framework와 mapping url -->
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- <servlet>
		<description>
		</description>
		<display-name>CafeListServlet</display-name>
		<servlet-name>CafeListServlet</servlet-name>
		<servlet-class>cafein.CafeListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchCafeServlet</display-name>
		<servlet-name>SearchCafeServlet</servlet-name>
		<servlet-class>cafein.cafe.SearchCafeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchContentsServlet</display-name>
		<servlet-name>SearchContentsServlet</servlet-name>
		<servlet-class>cafein.post.SearchContentsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>APICafeListServlet</display-name>
		<servlet-name>APICafeListServlet</servlet-name>
		<servlet-class>cafein.APICafeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CafeListServlet</servlet-name>
		<url-pattern>/CafeListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCafeServlet</servlet-name>
		<url-pattern>/SearchCafeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchContentsServlet</servlet-name>
		<url-pattern>/SearchContentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>APICafeListServlet</servlet-name>
		<url-pattern>/APICafeListServlet</url-pattern>
	</servlet-mapping> -->
</web-app>